.list {
		margin : 0px auto;
		display : table-cell, inline-block; 
		vertical-align : middle;
		box-sizing: border-box; 
		border: 1px solid #c0c0c0;
		width: 600px;
		min-height : 600px; 
		text-align : center;
	

	}