.list {
		margin : 0px auto;
		display : table-cell, inline-block; 
		vertical-align : middle;
		box-sizing: border-box; 
		border: 1px solid #c0c0c0;
		width: 600px;
		/* min-height : 300px;  */
		text-align : center;
	

	}

table {
	/* border: 1px solid #444444; */
	margin : 0px auto;
	vertical-align : middle;
	text-align : center;
	border: 1px solid bal;
	font-size: 12px;
    font-family: Gulim, 돋움, Dotum, Arial, AppleSDGothicNeo, AppleGothic, Sans-Serif;
	
}
thead, #idTd, #dateTd  {
	background-color: #DAE9F7;
	
}

#titleTd {
	text-align: left;
	padding-left: 8px;
	width : 400px;
	
}

td, th {
	height: 30px;
}

tr{
	border-collapse : separate;
	border-bottom: 1px solid #000;
}
#writeBox {
	text-align: right;
	
	
}
td#writeBox > a {
	text-decoration: none;
	color: #000;
	overflow:hidden;
}

td#titleTd > a{
	overflow : hidden;
	text-overflow : ellipsis;
	white-space: inherit;
	display: inline-block;
	width: 330px; 
	
	
}
td#titleTd > a > span{
	
}


#pageBox {
	text-align: center;
}

#titleTd > a > img {
	width: 15px;
	height: 15px;
}

#articleTitle {
	text-align:	justify;
	padding: 10px 0px 10px 20px;
	font-weight: bold;
	font-size: 13px;
	border-bottom: 1px solid #CCC;
	position: relative;
 }

#articleTitle span:nth-child(1){
	width: 350px;
	white-space: inherit;
    overflow: hidden;
    text-overflow: inherit;
    display: block;
}
 
#articleBody {
	text-align: left;
	padding-left: 10px;
	
}
#articleInfo {
	font-size: 14px;
	font-weight: normal;
	position: absolute;
	right: 20px;
	top : 10px;
}


#fileIcon {
	width: 20px; 
	height: 20px;
}

#fileBox {
	position : relative;
	text-align: right;
	margin: 10px 10px 0px 0px;
	cursor: pointer;
}
#fileLink {
	
	
	width : 150px;
	background-color : #e4e2e6;
	text-overflow : ellipsis; 
	font-size: 12px;
	text-decoration: none;
	display: none;
	position: absolute;
	right : 0px;
	top:  20px;
	white-space : nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	
}

.selectBtn {
	width: 150px;
	background-color: #c8c8ce;
	vertical-align : middle;
	display: inline-block;
	padding: 10px;
	cursor: pointer;
	
	
}

#listBtn1 {
	border-top-left-radius: 10px; 
	border-bottom-left-radius: 10px
}

#listBtn2 {
	border-radius: 10px;
}

#removeBtn {
	border-top-right-radius: 10px; 
	border-bottom-right-radius: 10px;
}
#modifyBtn {
	margin : 0px 5px 0px 5px;
}

#like {
	text-align: center;
	
	
}


img {
	cursor: pointer;
}

#pageBox a {
	text-decoration: none;
}
	