  	.logInput {
		 width : 300px;
		 height : 150px; 
		 box-sizing: border-box; 
		 border: 1px solid blue;
		 display: table-cell; 
		 vertical-align: middle; 
		 text-align: center; 
		 background-color: #ffffff;
	}
	
	.category {
		text-align: center;
	} 
	.innerLog1 {
		display: inline-block; 
		width: 200px;
	}
	
	.innerLog2 {
		display: inline-block; 
		width: 80px; 
		vertical-align: top; 
		text-align: left;
	}