


#wrapper {
	width: 1000px;
	margin : auto;

}

.main {
	width: 1000px;
	height: 70px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	background-color: #e3e3e3;
	box-sizing: border-box;
	
	border-style: outset;
	border-radius: 15px;
}

.login {
	display : inline-block; 
	width: 300px; 
	height: 700px; 
	vertical-align : top;
	background-color: #e9fefe;
	box-sizing: border-box;
	border: solid #8c8c8c 2px;
	border-radius: 15px; 
	margin-top: 10px;
	
	      
}

.list1 {
	display : inline-block; 
	width : 350px; 
	height : 350px;
	vertical-align: top;
}

.totalList {
	display : inline-block;
	 width: 700px;
	 height: 700px;
	 
}

a {
	text-decoration: none;
	color: #000;
	
}

.categoryInner{
	background-color: #e3e3e3;
	width : 150px; 
	height: 25px; 
	margin-top: 15px;
	margin-left : 20px;
	border-style: outset;
	color: #3c3c3c;
	font-weight: bold;
	text-align: center;
	font-family: 'Nanum Gothic','Malgun Gothic',돋움,sans-serif;
	border-radius: 15px;
	
}
.listInner {
	margin : 10px 0px 0px 10px; 
	width: 330px;
	height: 330px;
	border: 1px solid #d4cccc;
	
}
.titleBox {
	margin-left: 20px;
	margin-right: 20px;
}
.titleBox > a > p  {
	border-bottom: 1px solid #EAEAEA;
	margin: 0px;
	padding: 7px;
	overflow : hidden;
	text-overflow : ellipsis;
	white-space: nowrap;
	width: 280px;
} 

.listInner > .titleBox > a > p {
	font-size: 14px;
} 



